*,html,body {
  outline: 0;
  -webkit-tap-highlight-color: transparent!important;
}

::-webkit-scrollbar {
  display: none!important;
}

.navmenu {
  opacity: 0;
  visibility: hidden;
}

.navmenu.visible {
  opacity: 1;
  visibility: visible;
  z-index: 10!important;
}

main {
  width: 100%;
  min-height: 95vh;
  padding: 60px 0;
  position: relative;
}

.content-tabs {
  overflow: auto;
}

.content-tab {
  border: 0;
  white-space: nowrap;
}

.content-tab:hover {
  border-bottom: 1px solid #DF0F0F;
}

.content-tab.active {
  border-bottom: 1px solid #272727;
}

.content-tab span {
  font-weight: 300;
}

.content-tab.active span {
  font-weight: bold;
}

.content {
  display: none;
}

.content.active {
  background: rgba(0,0,0,0.08);
  display: grid;
}

.post-card {
  background: white;
}

.post-card:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.author-pfp {
  width: 26px;
  height: auto;
  border-radius: 100%;
}

.post-image {
  border-radius: 0.65rem;
  max-width: 100px;
}

.full-content {
  width: 100%;
  height: 100%;
  padding: 36px 1rem;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
  top: 63px; left: 0; bottom: 0;
}

.full-content.active {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

main:has(.full-content.active) .content {
  display: none;
}

.leading-header {
  line-height: 1.25;
}

.thumb.ms-filled, .fav.ms-filled {
  color: #DF0F0F;
}
